@import 'styles/colors.scss';
@import 'styles/prefabs';
@import 'styles/constants';
@import 'styles/fonts';

.dialog {
    @include colorWithShadow(input);
    left: 0;
    top: 0;
    outline: none;
    border: none;
    padding: 2px;
    margin-left: 0;
    z-index: 10;
}

.dialogContentHolder {
    @include scrollSmall;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    max-height: 5 * $smallMenuItemHeight;
}

.dialogOption {
    @include colorBackground(input);
    @include colorInteractiveControl;
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: $smallMenuItemHeight;

    &:not(:last-child) {
        border-bottom: 1px solid colorInGroup(input, border);
    }

    &[data=selected] {
        @include colorDecoration(input);
    }
}