@import '../colors.scss';

$size: 20px;

.main {
    @include colorText();
    display:  inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: $size;
    background: inherit;
    user-select: none;
    cursor: pointer;

    & > div, & > svg {
        @include colorText();
        @include color(document);
        height: 100%;
        width: 100%;
    }
}