@import 'styles/colors.scss';

.main {
    @include colorBackground(input);
    display:  inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: inherit;
    user-select: none;
    cursor: pointer;

    &[data=true] > svg {
        @include colorIcons(input);
        height: 100%;
        width: 100%;
    }

    &[data=false] > svg {
        display: none;
    } 
}