$size: 20px;

.main {
    display:  inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: $size;
    color: inherit;
    border: 2px solid;
    background: inherit;
    cursor: pointer;
    user-select: none;

    & > svg {
        height: 100%;
        width: 100%;
    }
}