@import 'styles/colors.scss';

$width: 8px;

.main {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &[data=collapsed] {
        display: grid;
        grid-template-columns: auto auto minmax(0, 1fr);
    }

    & > .divider {
        z-index: 5;
        height: 100%;
        margin-left: -$width/2;
        width: $width;
        user-select: none;
        cursor: ew-resize;

        &:active, &:hover {
            background: color(accents);
        }
    }

    & > * {
        position: absolute;
        z-index: 3;
        height: 100%;
        transition: 100ms ease;
    }
}