@import 'styles/colors.scss';
@import 'styles/prefabs.scss';
$size: 20px;

.main {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    min-width: 0;
    user-select: none;
    height: inherit;
    cursor: pointer;
    font: inherit;
    flex: 1;

    & > .addRow {
        display: grid;
        grid-template-columns: 1fr auto;
        background: inherit;
        min-width: 0;
        flex-shrink: 0;
    }
    
    & > .content {
        @include scroll();
        display: block;
        flex: 1;
        overflow-x: auto;
        overflow-y: scroll;
        direction: rtl;
        cursor: default;
    }
}

.input {
    display: flex;
    height: $size;
    min-width: 0;
    flex-shrink: 0;
    border: none;
    outline: none;
    font: inherit;
    padding: 0 5px;
    flex: 1;

    &[data=highlight] {
        filter: brightness(120%);
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr auto;
    direction: ltr;
    height: $size;
    align-items: center;
    background-color: inherit;
    align-items: stretch;
    user-select: text;
    text-indent: 5px;
    margin-top: 1px;
}

.collection {
    display: flex;
    min-width: 0;
    flex-direction: column;

    &[data=error] {
        color: map-get($palette, error) !important;
    }
}

.button {
    aspect-ratio: 1;
    padding: 2px;
    user-select: none;
    height: $size;
    width: $size;
    text-indent: 0;

    & > svg {
        width: 100%;
        height: 100%;
    }
}