@import '../colors.scss';
$size: 20px;
$height: 100px;

.main {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    min-width: 0;
    user-select: none;
    height: $height;
    cursor: pointer;
    flex: 1;

    .addRow {
        display: flex;
        height: $size;
        background: inherit;
        align-items: stretch;

        .button {
            width: $size;
        }

        .input {
            display: flex;
            height: $size;
            min-width: 0;
            flex-shrink: 0;
            border: none;
            outline: none;
            font: inherit;
            padding: 0 5px;
            flex: 1;
        }
    }
    
    .content {
        display: block;
        flex: 1;
        overflow-y: scroll;
        direction: rtl;
        cursor: default;

        .row {
            direction: ltr;
            height: $size;
            display: flex;
            align-items: center;
            background-color: inherit;
            align-items: stretch;
            user-select: text;
        
            .rowContent {
                flex: 1;
                margin: 0 0 0 5px;
                min-width: 0;
            }
        
            .button {
                width: $size;
                height: auto;
            }
        }
    }
}

.collection {
    display: flex;
    flex: 1;
    min-width: 0;
    flex-direction: column;
}

.button {
    @include colorInteract(second);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}