
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    & > svg {
        width: fit-content;
        animation-name: rotating;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}