@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.main {
    @include colorDefaultBackground;
    display: grid;
    grid-template-rows: $menuItemHeaderHeight minmax(0,1fr);
    width: 100%;
}

.search {
    @include colorWithShadow(main);
    display: grid;
    grid-template-columns: $labelWidth minmax(0,1fr);
    z-index: 2;
    
    & > label {
        @include fontNormalBold;
        display: flex;
        align-items: center;
        margin: 0 10px;
        font-size: 18px;
    }

    & > input {
        padding: 0 10px;
    }
}

.content {
    @include colorBackground(document);
    @include scroll;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    & > *:last-child {
        margin-bottom: $bottomViewMargin;
    }
}