@import 'styles/colors.scss';
@import 'styles/prefabs';

.holder {
    display: block;
    position: relative;
    height: 100%;
    flex: 1;
}

.area {
    @include color(document);
    @include colorText();
    @include scroll();
    overflow-x: auto;
    display: flex;
    white-space: pre;
    outline: none;
    padding: 5px;
    width: 100%;
    height: 100%;
    resize: none;
    overflow-y: scroll;
    border: none;
    padding-bottom: 50px !important;
}