@import 'styles/colors.scss';
@import 'styles/prefabs';
@import 'styles/constants';
@import 'styles/fonts';


$indent: calc(6ch - 15px);

.holder {
    display: block;
    position: relative;
    height: 100%;
    flex: 1;
}

#editing, #highlighting {
    @include scroll;
    @include fontNormal;
    position: absolute;
    overflow: auto;
    white-space: pre;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 5px $bottomViewMargin 5px;
}

#editing {
    z-index: 1;
    color: transparent;
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    caret-color: colorInGroup(input, text);

    &[data=show] {
        left: $indent;
        width: calc(100% - $indent);
    }
}

#highlighting {
    @include colorBackground(input);
    z-index: 0;

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-scrollbar-track {
        @include colorDecoration(second);
    }

    &::-webkit-scrollbar-thumb  {
        display: none;
    }
}

#highlightingContent {
    text-align: left;
    white-space: pre;
    hyphens: none;
    counter-set: line;
}

.area {
    @include colorBackground(document);
    @include scroll;
    overflow-x: auto;
    display: flex;
    white-space: pre;
    outline: none;
    padding: 5px;
    width: 100%;
    height: 100%;
    resize: none;
    overflow-y: scroll;
    border: none;
    padding-bottom: 50px !important;
}

.dialog {
    &[data=show] {
        margin-left: $indent;
    }
}