@import 'styles/colors.scss';
@import 'styles/prefabs.scss';
@import 'styles/animations.scss';

$width: 40px;
$diceWidth: 35px;
$numWidth: 15px;

.holder {
    @include colorText();
    position: absolute;
    z-index: 100;
    right: 0;

    &[data=true] {
        @include contentSlideIn(200ms);
        display: block;
    }

    &[data=false] {
        @include contentSlideOut(200ms);
        display: none;
    }
}

.main {
    @include centerGrid();
    @include color(third);
    @include colorShadow();
    
    position: relative;
    gap: 2.5px;
    top: 3px;
    padding: 2.5px 0;
    right: 0;
    border-radius: $width / 2.0;
    width: $width;
}

.dice {
    @include colorInteract(interactive);
    @include colorShadow();
    @include centerFlex();
    border-radius: $width / 2.0;
    padding: 4px;
    width: $diceWidth;
    height: $diceWidth;

    & > .number {
        @include color(second);
        @include colorShadow();
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 0 3px;
        right: -1px;
        bottom: -1px;
        height: $numWidth;
        width: fit-content;
        font-size: small;
        border-radius: $numWidth / 2.0;
        user-select: none;
    }
}

.rollBackground {
    @include color(third);
    @include colorShadow();

    position: absolute;
    display: flex;
    right: 0;
    top: 3px;
    width: 120px;
    border-radius: $width / 2.0;
    height: $width;
    user-select: none;
}

.roll {
    @include colorInteract(interactive);
    @include colorShadow();
    @include centerFlex();
    z-index: 1000;
    border-radius: $width / 2.0;
    width: 75px;
}