@import 'styles/colors.scss';
@import 'styles/prefabs.scss';
@import 'styles/fonts.scss';
@import 'styles/constants.scss';

$size: 20px;
$bottomMargin: 30ch;
$sizeLarge: ($size + 1px) * 5 - 1px;
$sizeExtra: ($size + 1px) * 8 - 1px;
$componentColor: document;

.main {
    @include colorBackground(document);
    @include scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    & > .editGroup[data=default]:last-child  {
        margin-bottom: $bottomMargin;
    }
}

.editGroup {
    @include colorDecoration(second);
    display: flex;
    flex-direction: column;
    padding: 2px;
    white-space: nowrap;

    &[data=fill] {
        flex: 1;
        height: 100%;
        min-height: 200px;
    }
}

.editGroupHeader {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 10px;
    position: relative;
    font-size: large;
    font-weight: bold;
    padding: 1px 5px;
    overflow: hidden;

    & > label {
        @include fontNoLineBreak;
        width: 100%;
        text-align: left;
    }

    &[data=open]::after {
        position: absolute;
        right: 5px;
        top: 0.5ch;
        border-color: transparent colorInGroup(interactive, text) transparent transparent;
        border-width: 6px;
        border-style: solid;
        content: " ";
    }

    &[data=closed]::after {
        position: absolute;
        right: -1px;
        top: 0.5ch;
        border-color: transparent transparent transparent colorInGroup(interactive, text);
        border-width: 6px;
        border-style: solid;
        content: " ";
    }
}

.editGroupItem {
    display: grid;
    gap: 5px;
    height: $size;
    flex-shrink: 0;
    margin: 2px 0 2px 5px;
    font-size: 12px;
    
    @include desktop {
        grid-template-columns: $labelWidth 1fr;
    }

    @include mobile {
        grid-template-columns: $phone_labelWidth 1fr;
    }

    @include mobile-landscape {
        grid-template-columns: $phone_labelWidth 1fr;
    }

    & > b {
        @include fontNormalBold;
        @include fontNoLineBreak;
        height: $size;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        user-select: none;

        @include desktop {
            font-size: 12px;
        }

        @include mobile {
            font-size: 11px;
        }

        @include mobile-landscape {
            font-size: 11px;
        }
    }

    & > input {
        @extend .editInput;
    }
}

.editInput {
    @include colorBackground(input);
    min-width: 0;
    border: none;
    outline: none;
    font: inherit;
    font-size: small;
    padding: 0 5px;
    flex: 1;

    &[error=true] {
        color: color(error)
    }

    &:disabled {
        filter: brightness(90%);
        pointer-events: none;
    }

    &::-webkit-inner-spin-button{
        appearance: none;
    }

    &::placeholder {
        opacity: 60%;
    }
}

.editTextArea {
    @extend .editGroupItem;
    height: $sizeExtra;

    &[data=fill] {
        height: 100%;
        flex: 1;
    }

    @include mobile {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto minmax(0, 1fr);
        text-indent: 5px;
        margin: 0;
    }

    & > .editor {
        overflow: hidden;
        max-height: inherit;
    }
}

.dropdown {
    font: inherit;
    font-size: small;
}

.dropdownItem {
    height: $size !important;
}

.editList {
    @extend .editGroupItem;
    height: $sizeLarge;
    flex-shrink: 0;
    font: inherit;
    font-size: small;
}

.editListItem {
    @include colorBackground(input);
    height: $size !important;
    display: flex;
}

.editSelectionMenu {
    & > *:last-child {
        @include colorDecoration(second);
    }
}

.editOption {
    @extend .editGroupItem;
    @include desktop {
        grid-template-columns: $labelWidth $labelWidth 1fr;
    }

    @include mobile {
        grid-template-columns: $phone_labelWidth $phone_labelWidth 1fr;
    }

    @include mobile-landscape {
        grid-template-columns: $phone_labelWidth $phone_labelWidth 1fr;
    }
}

.editBoolean {
    @extend .editGroupItem;

    @include desktop {
        grid-template-columns: $labelWidth auto 1fr;
    }

    @include mobile {
        grid-template-columns: $phone_labelWidth auto 1fr;
    }

    @include mobile-landscape {
        grid-template-columns: $phone_labelWidth auto 1fr;
    }

    & > a {
        color: color(accents);
        display: flex;
        align-items: center;
        font-size: small;
        flex: 1;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.loading {
    width: 100%;
    margin-top: 100px + 0.75cm !important;
    & svg {
        height: 0.85in;
    }
}