@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.main {
    @include color(third);
    @include colorShadow();
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    position: relative;
    gap: 1px;
    height: 100%;
    z-index: 100;

    & > .header {
        @include color(second);
        @include colorShadow();
        z-index: 100;
    }

    & > .body {
        @include scroll();
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.headerButton {
    @include colorInteract(second);
    @include colorText();
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    user-select: none;
    border: none;
}

.headerButtonsRow {
    @include color(second);
    display: flex;
    flex: 1;
}
.headerFilterRow {
    display: grid;
    grid-template-columns: minmax(0, 1fr) $iconNormalSize;
    flex: 1;
}

.headerEndButton {
    @extend .headerButton;
    @include colorInteract(interactive);
    justify-self: flex-end;
    margin-left: auto;
}

.collapsedButton {
    @extend .headerButton;
    @include colorInteract(interactive);
    height: 100%;
}

.headerSearch {
    margin-left: 3px;
}

.fileFilterMenu {
    @include color(forth);
    @include colorShadow();
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 100%;
    margin-left: 5px;

    & > * {
        display: flex;
        width: 100%;
    }

    & > .fileFilterMenuHeader {
        @include color(second);
        @include colorShadow();
        display: flex;
        height: 30px;
        z-index: 100s;
        margin-bottom: 5px;
        padding-left: 10px;
        align-items: center;
    }

    & > .fileFilterMenuItem {
        @include fontNoLineBreak();
        height: 22px;
        margin-bottom: 3px;
        margin-right: 10px;
        margin-left: 5px;
        & > svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.collapsedMenu {
    height: 100%;
}