@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';
@import './file.module.scss';

.main {
    @include colorDecoration(second);
    @include colorShadow(second);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    position: relative;
    gap: 1px;
    height: 100%;
    z-index: 100;

    & > .header {
        @include colorWithShadow(main);
        z-index: 100;
    }

    & > .body {
        @include scroll();
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 1cm;
    }
}

.headerButton {
    height: $iconNormalSize;
    width: $iconNormalSize;
    user-select: none;
}

.headerButtonsRow {
    display: flex;
    flex: 1;
}

.headerFilterRow {
    display: grid;
    grid-template-columns: minmax(0, 1fr) $iconNormalSize;
    flex: 1;
}

.headerEndButton {
    @extend .headerButton;
    justify-self: flex-end;
    margin-left: auto;
}

.collapsedButton {
    @extend .headerButton;
    width: $iconSmallSize;
    height: 100%;
}

.fileFilterMenu {
    @include colorWithShadow(second);
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 100%;
    margin-left: 5px;

    & > * {
        display: flex;
        width: 100%;
    }

    & > .fileFilterMenuHeader {
        @include colorWithShadow(main);
        display: flex;
        height: 30px;
        z-index: 100s;
        margin-bottom: 5px;
        padding-left: 10px;
        align-items: center;
    }

    & > .fileFilterMenuItem {
        @include colorFileByType;
        @include fontNoLineBreak;
        height: 22px;
        margin-bottom: 3px;
        margin-right: 10px;
        margin-left: 5px;
        & > svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.collapsedMenu {
    height: 100%;
}

.searchbox {
    height: 100%;
}