@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.background {
    position: absolute;
    background-color: #00000075;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 10px;
}

.main {
    @include color(document);
    @include colorShadow();
    @include colorText();
    display: grid;
    grid-template-rows: $pageHeaderHeight minmax(0, 1fr);
    row-gap: 1px;
    margin: 0 15%;
    height: 100%;
}

.header {
    @include color(main);
    @include colorShadow();
    @include centerFlex();
    @include fontHeader2();
    position: relative;
    font-weight: bold;
    width: 100%;
    user-select: none;
}

.closeBtn {
    @include colorInteract(interactive);
    @include centerFlex();
    position: absolute;
    user-select: none;
    height: 100%;
    right: 0;

    & > SVG {
        width: 100%;
        height: 100%;
    }
}

.item {
    @include color(forth);
    @include colorText();
    height: fit-content;
    min-height: 30px;
    margin: 5px;

    p { margin: 5px 0; }

    ul { margin: 5px 0; }

    h3 { margin: 10px 0; }

    code {
        @include color(forth);
        @include colorShadow();
        padding: 0 2px;
    }
}

.itemContent {
    @include color(document);
    width: 100%;
    height: fit-content;
    padding: 2.5px 20px;
}

.itemTitle {
    @include color(second);
    @include colorShadow();
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    z-index: 10;
    margin-bottom: 3px;
    padding: 2px 0;
}