@import 'styles/colors.scss';
@import 'styles/animations.scss';
@import 'styles/constants.scss';
@import 'styles/prefabs.scss';
@import 'styles/fonts.scss';

.main {
    display: grid;
    grid-template-rows: $pageHeaderHeight 1fr;
    grid-template-columns: minmax(max-content, 1fr);
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 100%;

    & > .divider > :nth-child(2) {
        z-index: 4;
    }
}

.header {
    @include colorWithShadow(main);
    z-index: 1000;
    display: flex;
    gap: 1px;
    justify-content: left;
    min-width: fit-content;
    position: relative;
}

.headerLabel {
    @include fontHeaderStory;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 160px;
    padding: 0 10px;
    user-select: none;
    flex: 1;

    & > SVG {
        height: 100%;
        margin: 0 5px 0 0;
    }
}

.headerButton {
    aspect-ratio: 1;
    height: 100%;
    padding: 5px;

    & > svg {
        width: 100%;
        height: 100%;
    }

    @include mobile {
        display: none;
    }
}

.mobileVisibleHeaderButton {
    @extend .headerButton;
    @include mobile {
        display: initial;
    }
}

.holder {
    position: relative;

    @include mobile {
        display: none;
    }

    &[data=open] {
        @include colorShadow(second);
        & > * {
            @include desktop {
                width: $smallMenuWidth;
            }
            @include mobile-landscape {
                width: $phone_smallMenuWidth;
            }
            @include mobile {
                width: $phone_smallMenuWidth;
            }
        }
    }
}

.invalidFile {
    @include colorDefaultBackground;
    @include fontNormalBold;
    @include centerFlex;
    user-select: none;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    padding: 5px 5px 0px;
}

.fileDivider {
    @include mobile {
        &[data=expanded] {
            & > div:nth-child(1) {
                display: none !important;
            }
            & > div:nth-child(2) {
                width: 100% !important;
            }
            & > div:nth-child(3) {
                display: none !important;
            }
        }
    }
}