@import 'styles/colors.scss';
@import 'styles/prefabs.scss';
@import 'styles/animations.scss';

.main {
    @include colorWithShadow(second);
    @include scroll;
    z-index: 1000;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow: auto;

    @include mobile-landscape {
        max-height: $mobile-landscapeHeight - $pageHeaderHeight - 20px;
    }

    &[data=true] {
        @include contentSlideIn(400ms);
        display: block;
    }
    &[data=false] {
        @include contentSlideOut(400ms);
        display: none;
    }
}

.entry {
    @include colorDecoration(second);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 3px;
    margin-bottom: 1px;
}

.entryHeader {
    display: inline-flex;
    user-select: none; 

    & > [data] {
        margin-left: auto;
        margin-right: 10px;

        &[data=adv] { color: color(good); }
        &[data=dis] { color: color(bad); }
        &[data=fail] { color: color(bad); }
        &[data=crit] { color: color(neutral); }
    }
}

.entryContent {
    margin: 0 2px;
    overflow: hidden;

    & > * {
        @include colorBackground(second);
        padding: 1px 3px;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    
        &[data=false] {
            opacity: 0.5;
        }
    }
}

.entryTotal {
    display: inline-flex;

    & > *:first-child {
        margin-right: 6px;
    }
}