@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

$logoutButtonRadius: $pageHeaderHeight / 2 - 3px;

.main {
    display: grid;
    grid-template-rows: $pageHeaderHeight minmax(0, 1fr);
    width: 100%;
    height: 100%;
}

.pageHeader {
    @include color(main);
    @include colorShadow();
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.logoutButton {
    @include colorInteract(interactive);
    @include fontNormal();
    @include fontNoLineBreak();
    display: grid;
    grid-template-columns: 250px $iconNormalSize;
    padding: 5px 5px 5px 20px;
    margin: 3px 0 3px 0;
    border-radius: $logoutButtonRadius 0 0 $logoutButtonRadius;
    align-items: center;

    & > svg { justify-self: center; }
}

.settingsButton {
    aspect-ratio: 1;
    margin: 3px;
    & > button {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        user-select: none;
    }
}

.mainContainer {
    @include scroll();
    display: grid;
    grid-template-rows: $menuHeaderHeight minmax($smallMenuHeight, 1fr);
    overflow: auto;
    gap: 20px;
    padding: 1cm min(5cm, 10%);
    min-width: 8cm;
    height: 100%;
}

.mainHeader {
    @include color(main);
    @include colorShadow();
    @include fontHeader1();
    @include centerGrid();
    height: 100%;
}

.loading {
    svg {
        height: $iconLargeSize;
        width: $iconLargeSize;
    }
}
