@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

$logoutButtonRadius: $pageHeaderHeight / 2 - 3px;

.main {
    display: grid;
    grid-template-rows: $pageHeaderHeight minmax(0, 1fr);
    width: 100%;
    height: 100%;
}

.pageHeader {
    @include colorWithShadow(main);
    display: flex;
    flex-direction: row-reverse;
    height: 100%;

    button {
        display: grid;
        border-radius: 50%;
        user-select: none;
    }
}

.logoutButton {
    display: grid;
    margin: 3px 0 3px 0;
    & > button {
        @include fontNormal;
        @include fontNoLineBreak;
        display: grid;
        padding: 5px 5px 5px 20px;
        border-radius: $logoutButtonRadius 0 0 $logoutButtonRadius;
        align-items: center;

        @include desktop {
            grid-template-columns: $labelWidth*2 $iconNormalSize;
        }
    
        @include mobile {
            grid-template-columns: $phone_labelWidth*2 $iconNormalSize;
        }
    
        @include mobile-landscape {
            grid-template-columns: $labelWidth*2 $iconNormalSize;
        }
    
        & > label {
            @include fontNoLineBreak;
            margin: auto;
        }
    
        & > svg { 
            justify-self: center; 
        }
    }
}

.settingsButton {
    display: grid;
    margin: 3px;
    aspect-ratio: 1;
}

.mainContainer {
    @include scroll;
    display: grid;
    grid-template-rows: $menuHeaderHeight minmax($smallMenuHeight, 1fr);
    overflow: auto;
    height: 100%;

    @include desktop {
        gap: 20px;
        padding: 1cm min(5cm, 10%);
        min-width: 8cm;
    }

    @include mobile {
        gap: 10px;
        width: 100%;
    }

    @include mobile-landscape {
        gap: 10px;
        padding-top: 10px;
        width: 100%;
    }
}

.mainHeader {
    @include colorWithShadow(main);
    @include fontHeader1;
    @include centerGrid;
}

.loading {
    svg {
        height: $iconLargeSize;
        width: $iconLargeSize;
    }
}
