@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.createMenu {
    @include colorWithShadow(second);
    display: grid;
    grid-template-rows: $menuItemHeight $menuItemHeight $menuItemHeight;
    gap: 5px;
    height: fit-content;
}

.editMenu {
    @extend .createMenu;
    align-self: center;
    padding: 10px;
    gap: 2px;

    @include desktop {
        width: clamp(300px, 60%, 800px);
    }

    @include mobile-landscape {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}

.selectMenu {
    @include colorWithShadow(second);
    @include scroll();
    display: grid;
    grid-auto-rows: $smallMenuHeight;
    overflow-y: scroll;
    overflow-x: auto;

    @include desktop {
        grid-template-columns: repeat(auto-fit, minmax($smallMenuWidth, 1fr));
        padding: 20px 20px 20px 20px + $scrollBarWidth;
        gap: 12px;
    }

    @include mobile {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 1px;
        padding-bottom: 2cm;
    }

    @include mobile-landscape {
        grid-template-columns: 1fr;
        padding: 20px 20px 20px 20px + $scrollBarWidth;
        gap: 12px;
    }
}

.reconnectMenu {
    @include fontNormal;
    display: grid;
    grid-template-columns: 1fr $iconNormalSize;
    border-radius: 10px;
    height: fit-content;
    justify-self: center;
    gap: 20px;
    padding: 10px 10px 10px 30px + $iconNormalSize;

    svg {
        width: $iconNormalSize;
        height: $iconNormalSize;
    }
}

.menuHeader {
    @include colorWithShadow(main);
    display: grid;
    align-items: center;
    user-select: none;

    @include desktop {
        grid-template-columns: 1fr 2 * $smallButtonWidth $menuItemHeight + 1px;
        padding-left: 2ch;
    }

    @include mobile {
        grid-template-columns: $labelLargeWidth 1fr $menuItemHeight + 1px;
        padding-left: 10px;
    }

    @include mobile-landscape {
        grid-template-columns: 1fr 2 * $smallButtonWidth $menuItemHeight + 1px;
        padding-left: 2ch;
    }

    & > label {
        @include fontHeader2;
        @include mobile {
            font-size: larger;
        }
    }

    & > button {
        @include fontNormalBold;
        border-left: 1px solid map-get($palette, border);
        padding-left: 1px;
        height: auto;
        align-self: stretch;

        & > svg {
            width: $iconNormalSize;
            width: $iconNormalSize;
        }
    }
}

.inputRow {
    @include colorDecoration(second);
    display: grid;
    grid-template-columns: $labelLargeWidth 1fr;
    align-items: center;

    @include desktop {
        padding-left: 2ch;
    }

    @include mobile {
        padding-left: 10px;
    }

    @include mobile-landscape {
        padding-left: 2ch;
    }

    & > input {
        align-self: stretch;
        width: 100%;
        padding-left: 2ch;
    }
}