@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.createMenu {
    @include colorText();
    @include color(third);
    @include colorShadow();
    display: grid;
    grid-template-rows: $menuItemHeight $menuItemHeight $menuItemHeight;
    gap: 5px;
    height: fit-content;
}

.editMenu {
    @extend .createMenu;
    width: min(60%, 800px);
}

.selectMenu {
    @include color(third);
    @include colorShadow();
    @include scroll();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($smallMenuWidth, 1fr));
    grid-auto-rows: $smallMenuHeight;
    overflow-y: scroll;
    overflow-x: auto;
    padding: 20px 20px 20px 20px + $scrollBarWidth;
    gap: 12px;
}

.reconnectMenu {
    @include colorInteract(interactive);
    @include colorShadow();
    @include fontNormal();
    @include centerGrid();
    grid-template-columns: 1fr $iconNormalSize;
    height: fit-content;
    justify-self: center;
    gap: 20px;
    padding: 10px 10px 10px 30px + $iconNormalSize;

    svg {
        width: $iconNormalSize;
        height: $iconNormalSize;
    }
}

.menuHeader {
    @include color(main);
    @include colorShadow();
    @include fontHeader2();
    display: grid;
    grid-template-columns: 1fr 2 * $smallButtonWidth $menuItemHeight;
    grid-template-rows: 1fr;
    gap: 2px;
    padding-left: 2ch;
    align-items: center;
    user-select: none;

    & > button {
        @include fontNormal();
        height: auto;
        align-self: stretch;

        & > svg {
            width: $iconNormalSize;
            width: $iconNormalSize;
        }
    }
}

.inputRow {
    @include color(forth);
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 1fr;
    align-items: center;
    padding-left: 2ch;

    & > input {
        align-self: stretch;
        width: 100%;
        padding-left: 2ch;
    }
}