@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/prefabs.scss';
@import 'styles/fonts.scss';

.main {
    display: grid;
    grid-template-rows: $menuHeaderHeight $largeButtonHeight;
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-content: center;
    padding: 20px;

    @include desktop {
        grid-template-columns: $smallMenuWidth;
    }
    
    @include mobile {
        grid-template-columns: $phone_smallMenuWidth;
    }

    @include mobile-landscape {
        grid-template-columns: $smallMenuWidth;
    }
}

.header {
    @include color(main);
    @include colorShadow();
    @include fontHeader1();
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px 5px;
    height: 100%;
    border-radius: 5px;
}

.loginButton {
    @include colorInteract(interactive);
    @include colorShadow();
    @include fontNormal();
    display: grid;
    grid-template-columns: 1fr $iconNormalSize;
    align-items: center;
    justify-items: center;
    user-select: none;
    height: 100%;
    padding: 3px 10px 3px 10px + $iconNormalSize;
    margin: 0 5px;
    border-radius: 5px;
}