@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/prefabs.scss';
@import 'styles/fonts.scss';

.main {
    display: grid;
    grid-template-rows: $menuHeaderHeight $largeButtonHeight;
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-content: center;
    padding: 20px;

    @include desktop {
        grid-template-columns: $smallMenuWidth;
    }
    
    @include mobile {
        grid-template-columns: calc(100% - 30px);
    }

    @include mobile-landscape {
        grid-template-columns: $smallMenuWidth;
    }
}

.header {
    @include colorWithShadow(main);
    @include fontHeaderStory;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px 5px;
    height: 100%;
    border-radius: 5px;
}

.loginButton {
    display: grid;
    height: 100%;
    margin: 0 5px;

    & > button {
        @include fontNormal;
        display: grid;
        grid-template-columns: 1fr $iconNormalSize;
        user-select: none;
        padding: 3px 10px 3px 10px + $iconNormalSize;
        border-radius: 5px;
    }
}