@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

$rowSize: 30px;

.main {
    display: grid;
    align-content: center;
    grid-template-rows: $menuHeaderHeight minmax(0, 1fr);
    gap: 20px;
    width: 100%;

    @include desktop {
        height: max(100%, $menuHeaderHeight + 200px);
        justify-content: center;
        padding: 50px;
    }

    @include mobile {
        height: 100%;
    }

    @include mobile-landscape {
        height: 100%;
    }
}

.header {
    @include colorWithShadow(main);
    @include centerGrid();
    overflow: visible;
    gap: 10px;
    z-index: 100;

    @include desktop {
        grid-template-columns: $smallMenuWidth $menuHeaderHeight;
    }

    @include mobile {
        grid-template-columns: minmax(0, 1fr) $menuHeaderHeight;
    }

    @include mobile-landscape {
        grid-template-columns: minmax(0, 1fr) $menuHeaderHeight;
    }

    & > span {
        @include fontHeader1();
        text-indent: $menuHeaderHeight + 10px;
    }
}

.body {
    @include colorWithShadow(second);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(auto-fill, $menuItemHeaderHeight);
    padding: 5px;
}

.closeButton {
    height: 100%;
    width: 100%;
    padding: 10px;

    & > button {
        @include centerGrid();
        height: 100%;
        width: 100%;
        border-radius: 50%;
        padding: 5px;
        
        & > SVG {
            height: $iconNormalSize;
            width: $iconNormalSize;
        }
    }
}

.row {
    @include colorDecoration(second);
    display: flex;
    height: $rowSize;
    align-items: center;
    
    & > span {
        @include fontNoLineBreak;
        text-indent: 1ch;
        flex: 1;
    }

    & > :not(span) {
        max-width: $controlWidth;
        height: 100%;
    }
}

.button {
    width: 100%;
}

.dropdownItem {
    height: $rowSize !important;
    width: 100%;
}

.checkbox {
    margin-left: auto;
    width: $rowSize;
    height: $rowSize;
}

.numberInput {
    height: 100%;
    margin-right: 2px;
    text-indent: 5px;
    width: $controlWidth - $rowSize - 2px;
}