$palette: (
    document: var(--color-document),
    background: var(--color-background),
    accents: var(--color-accents),
    main: var(--color-main),
    second: var(--color-second),
    third: var(--color-third),
    forth: var(--color-forth),
    shadow: var(--color-shadow),
    border: var(--color-border),
    text: var(--color-text),
    error: var(--color-error),
    icons: var(--color-icons)
);

@mixin color($colorName) {
    background-color: map-get($palette, $colorName);
}

@mixin colorText() {
    color: map-get($palette, text);
}

@mixin colorShadow() {
    box-shadow: map-get($palette, shadow) 0 0 5px 1px;
    
}

@mixin colorBorder() {
    border: 2px solid map-get($palette, border);
}

@mixin colorInteract($colorName) {
    background-color: map-get($palette, $colorName);
    cursor: pointer;
    &:hover {
        filter: brightness(105%);
    }
    &:active {
        filter: brightness(110%);
    }
    &[disabled] {
        opacity: 0.6;
        pointer-events: none;
    }
}