$pageHeaderHeight: 40px;
$menuHeaderHeight: 65px;
$menuItemHeaderHeight: 35px;
$menuItemHeight: 45px;
$smallMenuWidth: 450px;
$smallMenuHeight: 150px;
$largeButtonHeight: 40px;
$smallButtonWidth: 80px;
$iconNormalSize: 32px;
$iconLargeSize: 64px;
$scrollBarWidth: 14px;
$labelWidth: 120px;
$pageWidth: 8.5in; /* A4 */
$pageHeight: 14in; /* A4 */