$pageHeaderHeight: 50px;
$menuHeaderHeight: 65px;
$menuItemHeaderHeight: 40px;
$menuItemHeight: 45px;
$smallMenuWidth: 450px;
$largeButtonHeight: 40px;
$smallButtonWidth: 80px;
$iconNormalSize: 32px;
$iconLargeSize: 64px;
$scrollBarWidth: 18px;