@import './colors.scss';

$font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

html {
    height: 100vh;
}

body {
    @include color(background);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Cascadia Code', 'Consolas', 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div, p, span, textarea {
    tab-size: 4;
 }

#__next {
    height: 100vh;
}

code {
    font-family: $font;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

SVG {
   color: map-get($palette, icons); 
}

[tooltips] {
    position: relative;

    &:hover {
        z-index: 9000;
        /* Arrow above */
        &::before {
            display: block;
            position: absolute;
            z-index: 9000;
            border-color: transparent transparent map-get($palette, document) transparent ;
            border-width: 4px;
            border-style: solid;
            top: calc(100% - 8px);
            pointer-events: none;
            content: " ";
        }

        /* Text box */
        &::after {
            @include color(document);
            @include colorText();
            @include colorShadow();
            font-family: $font;;
            display: block;
            position: absolute;
            z-index: 9000;
            top: 100%;
            padding: 2px 4px;
            font-size: 12px;
            font-weight: 10;
            white-space: pre;
            pointer-events: none;
            user-select: none;
            content: attr(tooltips);
        }
    }
}