@import 'colors.scss';

$iconSize: 25px;

.text {
    @include colorText();
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1;
    user-select: none;
}

.button {
    @include colorShadow();
    @include colorInteract(second);
    position: absolute;
    height: 35px;
    padding: 3px;
}

.icon {
    @include colorInteract(second);
    display: flex;
    justify-content: center;
    position: absolute;
    width: $iconSize;
    height: $iconSize;
    user-select: none;
    bottom: 3px;

    & > svg {
        width: 100%;
        height: 100%;
    }
}

.main {
    @include color(background);
    @include colorText();
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

    .mainPanel {
        @include color(main);
        @include colorShadow();
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        height: 40px;
        width: 100%;

        .logoutButton {
            @include colorInteract(main);
            @extend .text;
            padding: 3px 10px 0 10px;
        
            & > svg {
                margin-left: 5px;
            }
        }
    }
    
    .mainContainer {
        display: block;
        margin: 65px;
        max-width: 30cm;
        flex: 1;
    
        .mainHeader {
            @include color(main);
            @include colorShadow();
            @extend .text;
            height: 100px;
            margin-bottom: 20px;
            font-size: 300%;
            white-space: pre;
        }
    
        .selectMenu {
            max-height: calc(100vh - 220px)
        }
    }
}

.createMenu {
    @include color(background);
    @include colorShadow();
    margin: 5px;

    .menuHeader {
        @extend .text;
        justify-content: left;
        position: relative;
        user-select: none;
        font-size: 22px;
        font-weight: 400;
        height: 50px;
        padding-left: 20px;

        .backButton {
            @extend .button;
            width: 70px;
            right: 5px;
        }

        .confirmButton {
            @extend .button;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            width: 90px;
            right: 80px;
        }
    }

    .inputRow {
        @include color(second);
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 2px solid map-get($palette, main);
        padding-left: 10px;
        font-weight: 200;
        height: 40px;
    
        & > input {
            @include color(third);
            @include colorText();
            position: absolute;
            left: 180px;
            height: calc(100% - 6px);
            width: calc(100% - 183px);
            padding-left: 10px;
            border: none;
        }
    
        &:last-child {
            border-bottom: none;
        }
    }
}

.editMenu {
    @extend .createMenu;
    width: min(60%, 800px);
}

.selectMenu {
    @include color(third);
    @include colorShadow();
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px;
    padding: 10px 10px 10px 10px;
    gap: 10px;

    &::-webkit-scrollbar {
        width: 15px;
    }
    
    &::-webkit-scrollbar-corner {
        @include color(second);
    }

    &::-webkit-scrollbar-track {
        @include color(second);
        @include colorShadow();
        width: 15px;
    }

    &::-webkit-scrollbar-thumb  {
        @include color(main);
        @include colorShadow();
    }
}

.storyCard {
    @include colorInteract(second);
    @include colorShadow();
    display: block;
    position: relative;

    .label {
        @include color(main);
        @extend .text;
        @include colorShadow();
        font-weight: 600;
        height: 40px;
    }

    .create {
        width: 100%;
        height: calc(100% - 40px);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 80%;
            width: 80%;
        }
    }

    .desc {
        height: calc(100% - 66px);
        white-space: normal;
        overflow: hidden;
        padding: 3px 6px;
    }

    .date {
        position: absolute;
        user-select: none;
        overflow: hidden;
        height: 20px;
        bottom: 3px;
        right: 3px;
    }

    .delete {
        @extend .icon;
        left: 3px;
    }

    .edit {
        @extend .icon;
        left: $iconSize + 6px;
    }
}

.reconnect {
    @include colorInteract(main);
    @extend .text;
    
    flex-direction: column;
    padding: 10px;
    height: 100px;
    margin: 3px;

    svg {
        width: 40px;
        height: 40px;
        color: map-get($palette, icons);
    }
}

.loading {
    width: 100%;
    
    svg {
        height: 100%;
        width: 100px;
        color: map-get($palette, icons);
    }
}

