@import 'colors.scss';
@import 'animations.scss';

$pageWidth: 8.5in; /* A4 */
$pageHeight: 14in; /* A4 */

@mixin fontComponent(){
    @include colorText();
    font-size: medium;
}

@mixin borderExtension(){
    @include color(third);
    @include colorShadow();
}

@mixin componentScroll() {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        @include color(forth);
        visibility: hidden;
        
        &:hover { visibility: visible; }
    }
        
    &::-webkit-scrollbar-thumb {
        @include colorInteract(main);
    }
}

.main {
    @include color(background);
    @include fontComponent();
    @include componentScroll();
    
    font-family: Mrs Eaves;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
}

.innerPage {
    @include color(document);
    flex-shrink: 0;
    min-width: 0;
    transform-origin: top left;
    width: $pageWidth;
    padding: 0.75cm;
    padding-bottom: 2cm;
    min-height: 100%;
    margin: auto;
}

.contentHolder {
    @include contentSlideIn(200ms);
}



.error {
    @include color(error);
    margin: 10px;
    font-weight: bold;
}

.horizontal {
    display: flex;
    align-items: row;
}

.ability {
    @include borderExtension();
    @include fontComponent();
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.spell {
    @include borderExtension();
    @include fontComponent();
    padding: 5px;
    margin: 3px 0 7px 0;
    cursor: pointer;
}

.iconRow {
    & > span {
        margin-left: 5px;
    }
}

.spellComponent {
    @include colorInteract(third);
    border-radius: 3px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 0.9em;
    height: 0.9em;
    font-size: smaller;
    margin-left: 3px
}

.spellSlotToggle {
    @include color(forth);
    @include borderExtension();
    display: flex;
    position: relative;
    height: 15px;
    width: 15px;
    align-self: center;
    margin-left: 5px;
    content: " ";
    cursor: pointer;
    
    &[data=active]::after {
        @include color(text);
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 3px;
        width: auto;
        height: auto;
        content: " ";
    }
}

.header {
    @include color(main);
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    top: 0;
}

.container {
    @include colorText();
    height: inherit;
    position: relative;
    overflow: hidden;

    & > *:last-child {
        height: calc(100% - 40px);
        overflow: auto;
    }
}

.loading {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    & svg {
        height: 0.85in;
    }
}

.encounterButton {
    @include colorInteract(second);
    @include colorShadow();
    @include colorText();
    border: none;
    font: inherit;
    flex: 1;
    padding: 5px;
}

.encounterCardHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    & > * {
        user-select: none;
    }
}

.encounterCardTextarea {
    @include colorInShadow();
    @include colorText();
    @include color(document);
    display: flex;
    font: inherit;
    border: none;
    outline: none;
    padding: 3px;
    width: 100%;
    resize: vertical;
}

.encounterCardInput {
    @include colorInShadow();
    @include colorText();
    @include color(document);
    display: inline-flex;
    font: inherit;
    border: none;
    outline: none;
    width: 55px;
}

.spaceOutRolls {
    & > span:not(:last-child) {
        margin-right: 5px;
    }
}