@import 'colors.scss';
@import 'constants.scss';
@import 'fonts.scss';
@import 'prefabs.scss';
@import 'animations.scss';

@mixin colorByRarity {
    @include colorIcon(second);
    &[data=mundane] { color: #d1d1d1; }
    &[data=common] { color: #ffffff; }
    &[data=uncommon] { color: #5cbe3e; }
    &[data=rare] { color: #5991dc; }
    &[data=veryRare] { color: #8759dc; }
    &[data=legendary] { color: #f2a546; }
    &[data=artifact] { color: #8d5e25; }
}

.main {
    @include colorDefaultBackground;
    @include fontNormal;
    @include scroll;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
}

.menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    & > div {
        position: absolute;
        display: grid;
        justify-items: center;
        & > span {
            @include colorBackground(second);
            @include fontNormal;
            @include centerGrid;
            padding: 2px 5px;
            width: 45px;
            border-radius: 15px;
            font-weight: bold;
            font-size: small;
            margin: 1px;
            user-select: none;
        }
    
        & > button {
            height: $iconNormalSize;
            width: $iconNormalSize;
            border-radius: $iconNormalSize / 2;
        }
    }
}

.innerPage {
    @include colorBackground(document);
    font-family: $fontDocument;
    min-width: 0;
    transform-origin: top left;
    width: $pageWidth;
    padding: 0.75cm;
    padding-bottom: 2cm;
    min-height: 100%;
    margin: auto;
}

.sidePanel {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    & > div {
        @include colorWithShadow(document);
        position: absolute;
        top: 0;
        right: 0;
        width: 3in;
        height: fit-content;
        margin-left: auto;
        flex-shrink: 0;

        @include mobile {
            width: 100%;
        }

        &[data=true] {
            @include contentSlideInFromRight(400ms);
        }
        &[data=false] {
            @include contentSlideOutFromRight(400ms);
            display: none;
        }
    }
}

.sidePanelHeader {
    display: grid;
    grid-template-columns: minmax(0, 1fr) $iconNormalSize;
    height: $iconNormalSize;
    & > b {
        align-self: center;
        text-indent: 10px;
    }
}

.contentHolder {
    @include contentSlideIn(200ms);
}

.error {
    color: color(error);
    margin: 10px;
    font-weight: bold;
}

.horizontal {
    display: flex;
    align-items: row;
}

.rendererBox {
    @include colorWithShadow(second);
    @include fontNormal;
    padding: 5px;

    &[data=open] {
        cursor: pointer;
    }
    
    &[data=closed] {
        cursor: pointer;
        border-bottom: 2px solid;
    }

    & + & {
        margin-top: 7px;
    }
}

.iconRow {
    & > span {
        margin-left: 5px;
    }
}

.spellComponent {
    @include colorBackground(second);
    @include colorInteractiveControl;
    border-radius: 3px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 0.9em;
    height: 0.9em;
    font-size: smaller;
    margin-left: 3px
}

.chargeToggle {
    @include colorDecoration(second);
    display: flex;
    position: relative;
    box-shadow: inset colorInGroup(second, shadow) 0 0 5px -1px;
    height: 15px;
    width: 15px;
    content: " ";
    cursor: pointer;

    &:not(:first-child) {
        margin-left: 5px;
    }
    
    &[data=active]::after {
        background: colorInGroup(second, text);
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 3px;
        width: auto;
        height: auto;
        content: " ";
    }
}

.chargeToggleInputHolder {
    @include colorBackground(input);
    @include fontNoLineBreak;
    display: flex;
    height: $iconSmallSize - 1px;
    border-radius: $iconSmallSize / 2;
    align-items: center;
    font-size: small;

    & > :first-child {
        width: 70px;
        text-align: center;
        padding-left: 10px;
    }

    & > :last-child {
        padding-right: 10px;
    }

    & > input {
        font-size: small;
        padding: 0 !important;
        font-weight: bold;
    }
}

.loading {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    & svg {
        height: 0.85in;
    }
}

.encounterButton {
    @include colorShadow(interactive);
    flex: 1;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

.encounterCollapsedButtonHolder {
    display: block;
    position: relative;
    font-family: $fontNormal;
    flex: 1;

    & > button {
        width: 100%;
    }

    & > div {
        @include colorWithShadow(second);
        position: absolute;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
        width: 100%;
        padding: 5px;
        z-index: 1000;

        &[data=false] {
            display: none;
        }

        .dropdownItem {
            height: $iconSmallSize;
        }

        & > div {
            height: $iconSmallSize;
        }

        & > button {
            height: $iconNormalSize;
        }
    }
}

.encounterCardHolder {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.encounterCard {
    @include colorWithShadow(second);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 16px 16px 16px 1fr;
    gap: 3px;
    user-select: none;
    font-size: 14px;
    position: relative;

    .encounterCardHeader {
        @include colorWithShadow(main);
        padding: 1px 5px;
        width: 100%;

        & > div {
            @include fontNoLineBreak;
            font-size: 15px;
            font-weight: bold;
            width: 100%;
        }
    }

    .encounterCardToken {
        @include colorBackground(interactive);
        @include centerFlex;
        position: absolute;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        left: calc(100% - 19px);
        top: -3px;
        z-index: 1000;

        &[data=hide] {
            display: none;
        }
    }

    .encounterCardRow {
        @include colorDecoration(second);
        display: grid;
        grid-template-columns: 1fr auto auto;
        padding: 0 2px;
        align-items: center;
        margin: 0 3px;
        gap: 5px;

        & > button {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            & > svg {
                height: 100%;
                width: 100%;
            }
        }
    }

    .encounterCardInputRow {
        @extend .encounterCardRow;
        grid-template-columns: auto 1fr auto;
        gap: 5px;
    
        .encounterCardInput {
            font: inherit;
            width: 100%;
            height: 16px;
            text-align: right;
            border-radius: 8px;
            padding: 0 8px;
    
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                display: none;
            }
        }
    }

    .encounterCardPortrait {
        @include centerFlex();
        overflow: hidden;
        margin: 3px;
        aspect-ratio: 1;

        & > img {
            width: 100%;
            margin: auto;
        }
    }

    .encounterCardTextarea {
        display: flex;
        font: inherit;
        border: none;
        outline: none;
        padding: 2px;
        min-height: 22px;
        margin: 0 3px 3px 3px;
        resize: vertical;
        min-height: calc(100% - 3px);
    }
}

.spaceOutRolls {
    & > span:not(:last-child) {
        margin-right: 5px;
    }
}

.sheetBox {
    @include colorDecoration(second);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border: 2px solid;
    margin: 0 1px;
    padding: 3px;
    flex: 1;
    font-size: small;
}

.attributeBox {
    @extend .sheetBox;
    border-radius: 10px;

    & > div {
        position: relative;
        width: 100%;
        border-bottom: 1px solid;
        margin: 5px 0;
    }

    & > span {
        width: 100%;
    }
}


.armorBox {
    @extend .sheetBox;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    max-width: 55px;
}

.initiativeBox {
    @extend .sheetBox;
    border-radius: 15px;
    max-width: 70px;

    & > span {
        width: 100%;
    }
}

.healthBox {
    @extend .sheetBox;
    grid-template-columns: auto minmax(0, 1fr);
    flex: 3;
    padding: 0;
    height: 60px;
    overflow: hidden;

    & > :first-child {
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 60px;
        border-right: 2px solid;

        & > button {
            height: 19px;
            font-size: small;
        }

        & > input {
            font-weight: bold;
            min-width: 0;
            text-align: center;
            padding-left: 15px;
        }
    }

    & > :last-child {
        display: grid;
        grid-template-columns: 1fr 1ch 1fr 45px;
        justify-content: center;
        text-align: center;
        gap: 1px;
        width: 100%;
        padding: 3px;

        & > b {
            font-size: small;
            pointer-events: none;
        }

        & > input {
            font-weight: bold;
            min-width: 0;
            text-align: center;
            height: 16px;
        }

        & > :last-child {
            grid-column: span 3;
        }
    }
}

.passive {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 10px;

    & > b {
        @include colorDecoration(main);
        @include centerFlex;
        border: 2px solid;
        pointer-events: none;
        user-select: none;
        border-radius: $iconLargeSize;
        height: $iconSmallSize;
        width: $iconSmallSize;
    }
}

.pageSelector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 3px;

    & > button {
        height: $smallMenuItemHeight;

        &:first-child {
            border-top-left-radius: $smallMenuItemHeight / 2;
            border-bottom-left-radius: $smallMenuItemHeight / 2;
        }

        &:last-child {
            border-top-right-radius: $smallMenuItemHeight / 2;
            border-bottom-right-radius: $smallMenuItemHeight / 2;
        }
    }
}

.pageItem {
    &[data=hide] {
        display: none;
    }
}

.collapsibleGroup {
    position: relative;

    & > button {
        @include fontNormalBold;
        width: 100%;
        margin: 5px 0;
        border-radius: 10px;
    }

    &[data=open]::after {
        position: absolute;
        right: 10px;
        top: 0.5ch;
        border-color: transparent colorInGroup(interactive, text) transparent transparent;
        border-width: 5px;
        border-style: solid;
        z-index: 10000;
        content: " ";
    }

    &[data=closed]::after {
        position: absolute;
        right: 4px;
        top: 0.5ch;
        border-color: transparent transparent transparent colorInGroup(interactive, text);
        border-width: 5px;
        border-style: solid;
        z-index: 10000;
        content: " ";
    }
}

.skillTable {
    font-family: $fontNormal;
    & > div {
        display: grid;
        grid-template-columns: auto 10px minmax(0, 1fr) $iconSmallSize * 2 55px;
        gap: 5px;
        height: $iconSmallSize;

        & > label {
            font-family: $fontDocument;
        }

        & > .proficiencyMarker {
            @include colorBorder(document);
            height: 9px;
            width: 9px;
            margin-bottom: 3px;
            align-self: center;
            justify-self: center;

            &[data=proficient] {
                border: 2px solid;
                border-radius: 100%;
            }
            &[data=halfProficient] {
                border: 1px solid;
                border-radius: 100%;
            }
            &[data=expert] {
                border: 2px solid;
                border-radius: 100%;
                background-color: color(accents);
            }
            &[data=none] {
                pointer-events: none;
            }
        }

        & > *:last-child {
            text-align: center;
            justify-self: center;
            align-self: center;
            height: fit-content;
        }
    }

    & > div:first-child {
        border-bottom: 2px solid;
        margin-bottom: 2px;
    }

    & > div:not(:first-child,:last-child) {
        border-bottom: 1px solid;
    }
}

.iconHolder {
    height: $iconSmallSize;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    & > span {
        height: $iconSmallSize;
        width: $iconSmallSize;
        padding: 2px;
        &[data=false] {
            filter: opacity(60%) grayscale(0.8)
        }
    }
}

.modifierChoice {
    @include colorDecoration(second);
    display: grid;
    grid-template-columns: minmax(0, 1fr) $labelLargeWidth;
    grid-template-rows: $iconSmallSize;
    font-family: $fontNormal;
    gap: 5px;
    padding: 3px;

    & > b {
        @include fontNoLineBreak;
        font-size: smaller;
        text-indent: 4px;
        align-self: center;
    }

    & > .modifierChoiceItem {
        display: grid;
        grid-template-columns: minmax(0, 1fr) $iconSmallSize;
    }

    .dropdownItem {
        font-size: small;
        height: $iconSmallSize;
    }
}

.spellFilterMenu {
    display: grid;
    grid-template-columns: 60px repeat(auto-fit, $iconSmallSize);
    gap: 2px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;

    & > label {
        @include fontNormalBold;
        align-self: center;
        text-indent: 5px
    }
}

.spellFilterMenuItem {
    @include centerFlex;
    height: $iconSmallSize;
    border: 1px solid;
    border-color: inherit;
    border-radius: 6px;

    &[data=false] {
        filter: opacity(80%);
    }
}

.spellItem {
    @include colorDecoration(second);
    display: flex;
    align-items: center;
    height: $iconSmallSize;
    text-indent: 10px;
    margin-bottom: 1px;

    & > button:first-of-type {
        justify-self: end;
        margin-left: auto;
    }

    & > button {
        padding: 3px;
        width: $iconSmallSize;
        height: $iconSmallSize;
        margin-left: 1px;
        & > svg {
            width: 100%;
            height: 100%;
        }
    }

    & > label {
        align-self: center;
    }
}

.inventoryItem {
    @include colorDecoration(second);
    display: grid;
    grid-template-columns: $iconNormalSize 1fr 1.5 * $iconNormalSize 1.5 * $iconNormalSize 1.5 * $iconNormalSize $iconNormalSize;
    font-size: smaller;
    height: $iconNormalSize;
    margin-bottom: 1px;
    align-items: center;

    &[data=true] {
        @include colorDecoration(main);
    }

    & > div {
        @include fontNoLineBreak;
        display: grid;
        text-indent: 10px;

        & > label {
            font-size: small;
        }
    }

    & > label {
        justify-self: center;
    }

    & > button {
        padding: 5px;
        width: $iconNormalSize;
        height: $iconNormalSize;
        margin-left: 1px;
        & > svg {
            width: 100%;
            height: 100%;
        }
    }
}

.inventoryHeader {
    display: grid;
    grid-template-columns: $iconNormalSize 1fr 1.5 * $iconNormalSize 1.5 * $iconNormalSize 1.5 * $iconNormalSize;
    font-size: small;
    border-bottom: 2px solid;
    padding-right: $iconNormalSize;
    justify-items: center;

    & > b:nth-child(2) {
        justify-self: start;
        text-indent: 10px;
    }
}

.inventoryAttunementDropdown {
    background-color: colorInGroup(second, decoration) !important;
    color: colorInGroup(second, text) !important;
    height: $iconSmallSize !important;
    max-height: $iconSmallSize;
    border-radius: $iconSmallSize / 2;
    margin-bottom: 5px;

    & > :first-child > * {
        border-radius: $iconSmallSize / 2;
    }

    & > :last-child {
        border-radius: 50%;
        margin-left: 2px;
    }
}

.inventoryAttunementDropdownItem {
    background-color: colorInGroup(second, decoration) !important;
    color: colorInGroup(second, text) !important;
    height: $iconSmallSize !important;
    text-indent: 5px;
    font-weight: bold;

    &:hover {
        background-color: colorInGroup(interactive, background) !important;
    }
}

.inventoryInput {
    @include colorDecoration(second);
    @include scroll;
    @include fontNormal;
    width: 100%;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    border: none;
    border-radius: $iconSmallSize / 2;
    padding: $iconSmallSize / 2;
    min-height: 28px + $iconSmallSize / 2;
}

.namePlate {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 5px;
}

.rarityLabel {
    @include colorByRarity();
}