@import '../colors.scss';

.header1 {
    @extend .header;
    font-size: xx-large;
    margin-top: 2px;
    margin-bottom: 2px;
}

.header2 {
    @extend .header;
    font-size: x-large;
}

.header3 {
    @extend .header;
    font-size: large;
}

.header {
    color: map-get($cobalt-palette, font);
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;

    &[underline=true] {
        border-bottom: 1px solid map-get($cobalt-palette, font);
        margin-bottom: 6px;
    }
}