@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.main {
    @include colorWithShadow(second);
    align-self: center;
    height: fit-content;

    @include desktop {
        width: min(60%, 500px);
    }

    @include mobile {
        width: 100%;
    }

    @include mobile-landscape {
        width: 100%;
    }

    & > .header {
        @include colorWithShadow(main);
        @include centerFlex();
        @include fontLargeBold();
        height: $menuItemHeight;
        user-select: none;
        margin-bottom: 10px;

        & > SVG {
            height: $menuItemHeight;
            width: $menuItemHeight;
            padding: 3px;
            margin-right: 6px;
        }
    }

    & > .body {
        @include colorBackground(document);
        margin: 5px;
        min-height: 2cm;
        text-align: center;
    }

    & > .buttons {
        display: flex;
        gap: 10px;
        padding: 5px;
        & > button {
            @include centerFlex;
            @include colorShadow(interactive);
            height: 35px;
            flex: 1;
        }
    }
}