@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/fonts.scss';
@import 'styles/prefabs.scss';

.main {
    @include color(background);
    @include colorText();
    @include colorShadow();
    align-self: center;
    height: fit-content;

    @include desktop {
        width: min(60%, 600px);
    }

    @include mobile {
        width: 100%;
    }

    @include mobile-landscape {
        width: 100%;
    }

    & > .header {
        @include color(main);
        @include colorShadow();
        @include centerFlex();
        @include fontLargeBold();
        height: $menuItemHeight;
        user-select: none;

        & > SVG {
            height: $menuItemHeight;
            width: $menuItemHeight;
            padding: 3px;
            margin-right: 6px;
        }
    }

    & > .body {
        display: flex;
        
        & > .buttonOk {
            @extend .button;
        }

        & > .buttonCancel {
            @extend .button;
        }
    }
}

.button {
    @include colorInteract(third);
    @include colorShadow();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin: 5px;
    flex: 1;
}