@import 'styles/colors.scss';

.main {
    @include colorWithShadow(input);
    display: block;
    position: absolute;
    z-index: 1000;
    width: 240px;
    height: auto;
}

.item {
    @include colorBackground(input);
    position: relative;
    padding: 2.5px 10px 2.5px 2px;
    height: 26px;
    user-select: none;
    width: 100%;
    
    & > SVG {
        position: absolute;
        width: 20px;
        height: 20px;
        pointer-events: none;
    }
    
    & > .text {
        position: absolute;
        left: 25px;
        width: calc(100% - 20px);
        font-weight: 100;
        white-space: pre;
        text-overflow: clip;
        pointer-events: none;
    }

    &:hover {
        @include colorDecoration(input);
    }

    &[data=content] {
        &:after {
            position: absolute;
            right: -3px;
            top: calc(50% - 5px);
            border-color: transparent transparent transparent colorInGroup(input, border);
            border-width: 5px;
            border-style: solid;
            content: " ";
        }

        &:hover > div { visibility: visible; }
        
        & > .content {
            @include colorShadow(input);
            visibility: hidden;
            display: block;
            width: 100%;
            height: fit-content;
            transform: translateX(calc(100% + 10px)) translateY(-2.5px);
        }
    }

    &[data=hide] {
        display: none;
    }
}