@import '../colors.scss';

.main {
    @include color(background);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    @include colorText();
    @include colorShadow();

    & > .header {
        @include color(main);
        @include colorShadow();
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        padding: 10px 5px;
    }

    & > .body {
        width: 300px;

        & > .loginButton {
            height: 40px;
        }
    }
}

.loginButton {
    @include colorInteract(second);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 3px 10px;

    & > svg {
        margin-left: 5px;
    }
}