@import '../colors.scss';
@import '../animations.scss';

$width: 40px;
$diceWidth: 35px;
$numWidth: 15px;

.holder {
    @include colorText();
    position: absolute;
    z-index: 100;
    left: 1px;
    right: 0;

    &[data=true] {
        @include contentSlideIn(200ms);
        display: block;
    }

    &[data=false] {
        @include contentSlideOut(200ms);
        display: none;
    }
}

.main {
    @include color(third);
    @include colorShadow();
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3px;
    right: 0;
    padding-top: 2.5px;
    border-radius: $width / 2.0;
    width: $width;
}

.dice {
    @include colorShadow();
    @extend .interactive;

    border-radius: $width / 2.0;
    margin-bottom: 2.5px;
    padding: 4px;
    width: $diceWidth;
    height: $diceWidth;

    & > .number {
        @include color(second);
        @include colorShadow();
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 0 3px;
        right: -1px;
        bottom: -1px;
        height: $numWidth;
        width: fit-content;
        font-size: small;
        border-radius: $numWidth / 2.0;
        user-select: none;
    }
}

.rollBackground {
    @include color(third);
    @include colorShadow();

    position: absolute;
    display: flex;
    right: 0;
    top: 3px;
    width: 120px;
    border-radius: $width / 2.0;
    height: $width;
    user-select: none;
}

.roll {
    @extend .interactive;
    @include colorShadow();
    z-index: 1000;
    border-radius: $width / 2.0;
    width: 75px;
}

.interactive {
    @include colorInteract(main);
    display: flex;
    justify-content: center;
    align-items: center;
}