@import '../colors.scss';

.main {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000000;
    height: 100%;

    .editor {
        height: 100%;
    }
}

.editor {
    display: block;
    outline: none;
    white-space: pre;
    padding: 5px;
}

.editGroup {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-color: map-get($cobalt-palette, font-light);
    border: 2px solid white;

    &[fill=true] {
        flex: 1;
        height: 100%;
    } 

    & > .editGroupHeader {
        position: relative;
        color: map-get($cobalt-palette, font-light);
        background: map-get($cobalt-palette, darkest);
        cursor: pointer;
        font-size: large;
        font-weight: bold;
        padding: 0 5px;
    
        &:hover {
            background: map-get($cobalt-palette, dark);
        }

        &[open]::after {
            position: absolute;
            right: 5px;
            top: 0.5ch;
            border-color: transparent map-get($cobalt-palette, font-light) transparent transparent;
            border-width: 6px;
            border-style: solid;
            content: " ";
        }
    
        &:not([open])::after {
            position: absolute;
            right: -1px;
            top: 0.5ch;
            border-color: transparent transparent transparent map-get($cobalt-palette, font-light);
            border-width: 6px;
            border-style: solid;
            content: " ";
        }
    }
}

.editText {
    position: relative;
    display: flex;
    margin: 2px 0 2px 5px;

    & > b {
        width: 100px;
    }

    & > input {
        min-width: 0;
        border: none;
        outline: none;
        font: inherit;
        font-size: small;
        padding: 0 5px;
        flex: 1;
    }

    & > div {
        min-width: 0;
        border: none;
        outline: none;
        height: 100px;
        flex: 1;
    }
}