@import '../colors.scss';

$size: 20px;

.main {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000000;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    & > .editGroup[fill=false]:last-child  {
        margin-bottom: 120px;
    } 
}

.editGroup {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-color: map-get($cobalt-palette, font-light);
    border: 2px solid white;
    white-space: nowrap;

    &[fill=true] {
        flex: 1;
        height: 100%;
        min-height: 200px;
    } 

    & > .editGroupHeader {
        position: relative;
        color: map-get($cobalt-palette, font-light);
        background: map-get($cobalt-palette, darkest);
        cursor: pointer;
        font-size: large;
        font-weight: bold;
        padding: 0 5px;
    
        &:hover {
            background: map-get($cobalt-palette, dark);
        }

        &[open]::after {
            position: absolute;
            right: 5px;
            top: 0.5ch;
            border-color: transparent map-get($cobalt-palette, font-light) transparent transparent;
            border-width: 6px;
            border-style: solid;
            content: " ";
        }
    
        &:not([open])::after {
            position: absolute;
            right: -1px;
            top: 0.5ch;
            border-color: transparent transparent transparent map-get($cobalt-palette, font-light);
            border-width: 6px;
            border-style: solid;
            content: " ";
        }
    }
}

.label {
    width: 120px;
    height: $size;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.editText {
    display: flex;
    margin: 2px 0 2px 5px;
    height: $size;

    & > b { @extend .label; }

    & > input {
        min-width: 0;
        border: none;
        outline: none;
        font: inherit;
        font-size: small;
        padding: 0 5px;
        flex: 1;
    }

    & > div {
        min-width: 0;
        border: none;
        outline: none;
        height: 100px;
        flex: 1;
    }
}

.editTextArea {
    display: flex;
    margin: 2px 0 2px 5px;
    height: 100px;

    & > b { @extend .label; }

    & > div {
        min-width: 0;
        height: inherit;
        flex: 1;
    }

    &[fill=true] {
        height: 100%;
    }
}

.editNumber {
    display: flex;
    margin: 2px 0 2px 5px;
    height: $size;

    & > b { @extend .label; }

    & > input {
        min-width: 0;
        border: none;
        outline: none;
        font: inherit;
        font-size: small;
        padding: 0 5px;
        flex: 1;

        &[error=true] {
            color: red;
        }

        &::-webkit-inner-spin-button{
            appearance: none;
        }
    }
}

.editEnum {
    position: relative;
    display: flex;
    margin: 2px 0 2px 5px;
    flex-shrink: 0;
    height: $size;

    & > b { @extend .label; }
}

.dropdown {
    background: white !important;
    font: inherit;
    font-size: small;

    & > div:first-child {
        & > * {
            &[expanded=true] {
                outline: 1px solid map-get($cobalt-palette, font-light);
            }
            
            & > * {
                padding: 0 5px;
                height: $size;

                &:hover {
                    background: map-get($cobalt-palette, lightest);
                }
                &:not(:last-child) {
                    border-bottom: 1px solid map-get($cobalt-palette, lightest);
                    padding-top: 1px;
                }
            }
        }
    } 

    & > div:last-child {
        background: map-get($cobalt-palette, main);
    }
}

.editSelection {
    display: flex;
    margin: 2px 0 2px 5px;
    flex-shrink: 0;

    & > b { @extend .label; }

    .selection {
        background: white;
        font: inherit;
        font-size: small;
        
        & > div:first-child {
            & > div:first-child {
                @extend .dropdown;
            }
        }

        & > div:last-child {
            background: map-get($cobalt-palette, font-light);
        }
    }
}

.editSelectionItem {
    @extend .editNumber;
    & > b { width: 80px; }
    & > input {
        background: white;
        border: 2px solid #eff8ff;
    }
}

.editList {
    display: flex;
    margin: 2px 0 2px 5px;
    flex-shrink: 0;

    & > b { @extend .label; }

    .list {
        background: white;
        font: inherit;
        font-size: small;

        & > div:last-child {
            background: map-get($cobalt-palette, font-light);
            & > div {
                background: #f3f8ff;
            }
        }
    }
}

.editOption {
    display: flex;
    margin: 2px 0 2px 5px;
    height: $size;
    flex-shrink: 0;

    & > b { @extend .label; }
    
    & > div {
        display: flex;
        flex: 1;
        min-width: 0;
        & > div {
            width: 100px;
            flex: initial;
        }

        & > input {
            min-width: 0;
            border: none;
            outline: none;
            font: inherit;
            font-size: small;
            padding: 0 5px;
            flex: 1;
    
            &[error=true] {
                color: red;
            }

            &:disabled {
                pointer-events: none;
                background: #eeeeee;
                min-width: 0;
            }
    
            &::-webkit-inner-spin-button{
                appearance: none;
            }
        }
    }
}

.checkbox {
    color: map-get($cobalt-palette, darkest);
}