@import '../colors.scss';

.main {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000000;
    height: 100%;

    .editor {
        height: 100%;
    }
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #363636;
    color: map-get($cobalt-palette, font-light);
    font-weight: 600;
    font-size: 1.2em;
    user-select: none;
}

.editor {
    display: block;
    outline: none;
    white-space: pre;
    padding: 5px;
}

.editGroup {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-color: map-get($cobalt-palette, font-light);
    border: 2px solid white;

    &[fill=true] {
        flex: 1;
        height: 100%;
    } 

    & > .editGroupHeader {
        color: map-get($cobalt-palette, font-light);
        background: map-get($cobalt-palette, darkest);
        cursor: pointer;
        font-size: large;
        font-weight: bold;
        padding: 0 5px;
    
        &:hover {
            background: map-get($cobalt-palette, dark);
        }
    }
}

.editText {
    position: relative;
    display: flex;
    margin: 2px 0 2px 5px;

    & > b {
        width: 100px;
    }

    & > input {
        min-width: 0;
        border: none;
        outline: none;
        flex: 1;
    }

    & > div {
        min-width: 0;
        border: none;
        outline: none;
        height: 100px;
        flex: 1;
    }
}