@import '../colors.scss';

.file {
    @include colorInteract(third);
    @include colorText();

    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
    font-weight: 400;
    height: fit-content;
    border: none;
    font: inherit;
    padding: 0;

    & > SVG {
        padding: 4px 2px 1px 0;
        width: 20px;
        height: 20px;
        font-size: inherit;
    }

    & > .text {
        flex: 1;
        height: 1em;
        width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    input {
        @include color(background);
        display: block;
        flex: 1;
        width: 100%;
        height: inherit;
        border: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: -2px;
        color: inherit;
        font: inherit;

        &:disabled {
            background-color: inherit;
            cursor: pointer;
            pointer-events: none;
        }
    }
}

.folder {
    @extend .file;
    position: relative;

    &[data=open]::after {
        position: absolute;
        right: 3px;
        top: calc(50% - 5px);
        border-color: transparent map-get($palette, icons) transparent transparent;
        border-width: 5px;
        border-style: solid;
        content: " ";
    }

    &[data=closed]::after {
        position: absolute;
        right: -3px;
        top: calc(50% - 5px);
        border-color: transparent transparent transparent map-get($palette, icons);
        border-width: 5px;
        border-style: solid;
        content: " ";
    }
}

.folderHolder {
    display: block;

    &[data=highlight] {
        filter: brightness(120%);
    }
}

.content {
    display: block;
    margin-left: 3px;
    border-left: 1.5px solid map-get($palette, border);
}

.selected {
    filter: brightness(125%) !important;
}