@import '../colors.scss';

.main {
    @include color(third);
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .header {
        @include color(second);
        @include colorShadow();
        width: 100%;
        z-index: 100;

        & > * {
            @include colorInteract(second);
            @include colorText();
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            user-select: none;
        }
    }

    & > .body {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}