@import '../colors.scss';

$headerHeight: 40px;
$entryWidth: 249px;

.main {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: map-get($cobalt-palette, lighter);
    width: 100%;
    height: 100%;

    & > .header {
        padding-left: 10px;
        height: $headerHeight;
    }

    & > .divider {
        height: calc(100% - $headerHeight);
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: left;
    background-color: map-get($cobalt-palette, main);
    border-bottom: 1px solid map-get($cobalt-palette, border);

    & > .name {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 700;
        font-size: 20px;
        color: map-get($cobalt-palette, font);
        user-select: none;
    }
}

.headerMenu {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    flex: 1;
    height: 100%;

    & > .recompile {
        @extend .headerButton;
        height: $headerHeight - 1;
        font-weight: 800;
        font-size: 16px;
        padding: 0 10px 0 5px;
    }

    & > .home {
        @extend .headerButton;
        height: $headerHeight - 1;
        width: $headerHeight;
    }

    & > .editMode {
        @extend .headerButton;
        height: $headerHeight - 1;
        width: $headerHeight;
    }
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($cobalt-palette, darker);
    color: map-get($cobalt-palette, font-light);
    border-left: 1px solid map-get($cobalt-palette, border);
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: map-get($cobalt-palette, dark);
    }

    &:active {
        background-color: map-get($cobalt-palette, main);
    }

    &[disabled] {
        cursor: default;
        pointer-events: none;
        background-color: map-get($cobalt-palette, main);
    }
}

.dice {
    @extend .headerButton;
    padding: 3px;
    height: $headerHeight - 1;
    width: $headerHeight;
}

.rollHistory {
    @extend .headerButton;
    height: $headerHeight - 1;
    width: $headerHeight;

    &[open] {
        width: $entryWidth;
    }
}

.holder {
    position: relative;
}

.content {
    display: block;
    position: relative;
    height: 100%;
    background-color: white;
}

.invalidFile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #363636;
    color: map-get($cobalt-palette, font-light);
    font-weight: 600;
    font-size: 1.2em;
    user-select: none;
}