@import '../colors.scss';

$headerHeight: 40px;
$entryWidth: 250px;

.main {
    @include color(document);
    @include colorText();
    display: block;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 100%;

    & > .header {
        padding-left: 10px;
        height: $headerHeight;
    }

    & > .divider {
        height: calc(100% - $headerHeight);
        width: 100%;
    }
}

.header {
    @include color(main);
    @include colorShadow();
    z-index: 100;
    display: flex;
    justify-content: left;
    min-width: fit-content;

    & > .name {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 700;
        font-size: 20px;
        user-select: none;

        & > SVG {
            height: 100%;
            margin: 0 5px 0 0;
        }
    }
}

.headerMenu {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    flex: 1;
    height: 100%;
    z-index: 100;
}

.headerButton {
    @include colorInteract(second);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: $headerHeight;
    width: $headerHeight;
}

.editMode {
    @extend .headerButton;
    margin-left: 1px;
}

.settings {
    @extend .headerButton; 
    margin-left: 1px;
}

.home { 
    @extend .headerButton;
    margin-left: 1px;
}

.help { 
    @extend .headerButton;
    margin-left: 1px;
}

.dice {
    @extend .headerButton;
    padding: 3px;
    margin-left: 1px;
}

.rollHistory {
    @extend .headerButton;
}

.holder {
    position: relative;
    margin-left: 1px;

    &[open] {
        @include colorShadow();
        & > :first-child {
            width: $entryWidth;
        }
    }
}

.invalidFile {
    @include color(background);
    @include colorText();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 600;
    font-size: 1.4em;
    user-select: none;
}