@import '../colors.scss';

$width: 41px;
$entryWidth: 250px;

.main {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 39px;
    right: -1px;
    background: map-get($cobalt-palette, border);
    width: $entryWidth;
    padding: 1px 1px 0 1px;
}

.entry {
    display: flex;
    flex-direction: column;
    color: map-get($cobalt-palette, font);
    background: map-get($cobalt-palette, font-light);
    overflow: hidden;
    padding: 3px;
    margin-bottom: 1px;
}

.entryHeader {
    display: inline-flex;

    & > [type] {
        margin-left: auto;
        margin-right: 10px;

        &[type=adv] { color: green; }
        &[type=dis] { color: red; }
        &[type=crit] { color: yellow; }
    }
}

.entryContent {
    margin: 0 4px;
    overflow: hidden;

    & > * {
        white-space: nowrap;
        background-color: map-get($cobalt-palette, lightest);

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    
        &[chosen=false] {
            opacity: 0.5;
        }
    }
}

.entryTotal {
    display: inline-flex;

    & > * {
        margin-right: 6px;
    }
}