@import '../colors.scss';

$width: 40px;
$entryWidth: 250px;

.main {
    @include color(background);
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    width: 100%;
}

.entry {
    @include color(forth);
    @include colorText();
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 3px;
    margin-bottom: 1px;
}

.entryHeader {
    display: inline-flex;
    user-select: none; 

    & > [data] {
        margin-left: auto;
        margin-right: 10px;

        &[data=adv] { color: green; }
        &[data=dis] { color: red; }
        &[data=crit] { color: yellow; }
    }
}

.entryContent {
    margin: 0 2px;
    overflow: hidden;

    & > * {
        padding: 1px 3px;
        @include color(third);

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    
        &[data=false] {
            opacity: 0.5;
        }
    }
}

.entryTotal {
    display: inline-flex;

    & > * {
        margin-right: 6px;
    }
}