@import '../colors.scss';

.createMenu {
    @include colorShadow();
    margin: 5px;
    & > .text {
        border-bottom: 2px solid map-get($palette, border);
        position: relative;
        height: 50px;
        padding-left: 30px;

        & > .backButton {
            @extend .button;

            width: 70px;
            right: 5px;
        }

        & > .confirmButton {
            @extend .button;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            width: 90px;
            right: 80px;
        }
    }
}

.editMenu {
    @include colorShadow();
    @extend .box;

    width: min(60%, 600px);

    & > .text {
        position: relative;
        border-bottom: 2px solid map-get($palette, border);
        height: 50px;
        padding-left: 15px;

        & > .backButton {
            @extend .button;
            @extend .box;

            width: 70px;
            right: 5px;
        }

        & > .confirmButton {
            @extend .button;
            @extend .box;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            width: 90px;
            right: 80px;
        }
    }
}

.inputRow {
    @include color(second);
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid map-get($palette, main);
    padding-left: 10px;
    font-weight: 200;
    height: 40px;

    & > input {
        @include color(third);
        position: absolute;
        left: 180px;
        height: calc(100% - 6px);
        width: calc(100% - 183px);
        padding-left: 10px;
        border: none;
    }

    &:last-child {
        border-bottom: none;
    }
}

.box {
    border: 1px solid black;
}

.text {
    @include color(main);
    @include colorText();
    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
    font-size: 22px;
    font-weight: 400;
}

.button {
    @include colorShadow();
    @include colorInteract(second);
    position: absolute;
    height: 35px;
    padding: 3px;
}

