@import '../colors.scss';

.main {
    @include color(background);
    @include colorText();
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

    & > .userPanel {
        position: absolute;
        height: 45px;
        width: 100%;
        flex: 1;
    }

    & > .container {
        margin: 65px;
        max-width: 30cm;
        flex: 1;
    }
}

.container {
    display: block;
    overflow: hidden;

    & > .headerBox {
        @include color(main);
        @include colorShadow();
        height: 100px;
        margin-bottom: 20px;

        & > .text {
            height: 100%;
            font-size: 300%;
            white-space: pre;
        }
    }

    & > *:not(.headerBox) {
        max-height: calc(100vh - 220px)
    }
}

.text {
    @include colorText();
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1;
    user-select: none;
}

.reconnect {
    @include colorInteract(main);
    @extend .text;
    
    flex-direction: column;
    padding: 10px;
    height: 100px;
    margin: 3px;
    cursor: pointer;

    & > .icon {
        width: 40px;
        height: 40px;
    }
}

.loading {
    width: 100%;
    height: 100px;
}

.userPanel {
    @include color(main);
    @include colorShadow();
    display: flex;
    justify-content: right;
}

.logoutButton {
    @include colorText();
    @include colorInteract(main);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 3px 10px 0 10px;
    cursor: pointer;
    user-select: none;

    & > svg {
        margin-left: 5px;
    }
}