@import '../colors.scss';

$iconSize: 25px;

.main {
    @include colorInteract(second);
    @include colorShadow();
    display: block;
    position: relative;
    cursor: pointer;

    & > .create {
        width: 100%;
        height: calc(100% - 40px);
    }

    & > .desc {
        height: calc(100% - 66px);
        padding: 3px 6px;
    }

    & > .date {
        @extend .bottomText;
        right: 3px;
    }

    & > .delete {
        @extend .icon;
        left: 3px;
    }

    & > .edit {
        @extend .icon;
        left: $iconSize + 6px;
    }
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    @include color(main);
    @include colorText();
    @include colorShadow();
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 40px;
}

.bottomText {
    position: absolute;
    bottom: 3px;
    height: 20px;
    user-select: none;
    overflow: hidden;
}

.desc {
    overflow: hidden;
}

.icon {
    display: flex;
    justify-content: center;
    position: absolute;
    width: $iconSize;
    height: $iconSize;
    bottom: 3px;
    user-select: none;

    & > SVG {
        width: 100%;
        height: 100%;
    }

    &:hover {
        @include colorInteract(second);
    }
}